<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckm.gulimall.order.mapper.UndoLogMapper">

    <resultMap id="BaseResultMap" type="com.ckm.gulimall.order.entity.UndoLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="branchId" column="branch_id" jdbcType="BIGINT"/>
            <result property="xid" column="xid" jdbcType="VARCHAR"/>
            <result property="context" column="context" jdbcType="VARCHAR"/>
            <result property="logStatus" column="log_status" jdbcType="INTEGER"/>
            <result property="logCreated" column="log_created" jdbcType="TIMESTAMP"/>
            <result property="logModified" column="log_modified" jdbcType="TIMESTAMP"/>
            <result property="ext" column="ext" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,branch_id,xid,
        context,log_status,log_created,
        log_modified,ext,rollback_info
    </sql>
</mapper>
